# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log/

# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build files
dist/
build/
out/
.next/
.cache/
coverage/
*.tsbuildinfo

# Git & Dependency Files
package-lock.json
yarn.lock
.pnp/
.pnp.js

# React / Vite
*.env.local
public/
.vercel
